/* Adjusted CSS with h1 color change to lime green */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Ubuntu&display=swap");

:root {
  --header-bg-color: #006400;
  --menu-bg-color: #808080;
  --menu-highlight-color: #32CD32;
  --body-bg-color: #333;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  background-color: var(--body-bg-color);
  color: var(--menu-bg-color);
  margin: 0;
  padding: 0;
}

header,
footer,
main {
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
}

header,
footer {
  background-color: var(--header-bg-color);
  text-align: center;
  border: 1px solid black;
  padding: 1rem;
  color: white;
}

main {
  padding: 1rem;
}

nav {
  background-color: var(--menu-bg-color);
  max-width: 832px;
  min-width: 480px;
  margin: 0 auto;
  border: 1px solid black;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 0;
  margin-block: 0;
  width: 100%;
  background-color: var(--menu-bg-color);
  color: white;
}

nav ul li {
  border: 1px solid black;
  color: white;
  text-align: center;
}

nav a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: var(--menu-highlight-color);
  font-size: 1.25rem;
}

nav a:hover {
  background-color: var(--menu-highlight-color);
  color: black;
}

h1 {
  text-align: center;
  color: var(--menu-highlight-color); /* Lime Green (#32CD32) for h1 */
  font-family: "Ubuntu", sans-serif; /* Using Ubuntu font for h1 */
}

h2,
h3 {
  color: var(--menu-highlight-color);
}

/* Media Query Updates for middle widths */
@media screen and (min-width: 800px) {
  nav ul {
    flex-direction: row;
  }

  nav a {
    padding: 0.5rem;
    font-size: 1rem;
  }
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 1rem;
}

img {
  border: 2px solid black;
  display: block;
  margin: 0 auto;
}

nav ul li.active a,
.active a {
  background-color: var(--menu-highlight-color);
  color: black;
}

.active {
  background-color: var(--menu-highlight-color);
}

.color-swatch1{
  padding: 5px;
  background-color: var(--header-bg-color);
  color: white;
}
.color-swatch2 {
  border: 2px solid white;
  padding: 5px;
  color: #32CD32;
}
.color-swatch3 {
  padding: 5px;
  background-color: var(--menu-highlight-color);
  color: black;
}